
  body {
    background-color: rgb(124, 103, 124);
  }
  
  .grad {
  background-image: repeating-radial-gradient(rgb(170, 70, 70),rgb(167, 167, 102) 10%, rgb(108, 155, 108) 15%);
  padding: 30px;
  }

  #title {
  background-color: black;
  color: chartreuse;
  text-align: center;
  padding: 50px;
  margin-right: 700px;
  margin-left: 700px;
  border-radius: 35px;
  }

  h1 {
    font-size: 36px;
  }

  #welcome {
    color: rgb(50, 23, 172);
    font-size: 28px;
  }
  .container {
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 73, 61);
    border-radius: 25px;
    border: 2px solid #6d2823;
    padding: 20px;
    margin: 40px;
    margin-left: 300px;
    margin-right: 0;
    height: 675px;
  }

  #underScore {
    height: 315px;
    border: 1px solid rgb(76, 71, 71);
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
  }

  .gameArea {
    flex:3;
    background-color: rgb(167, 167, 177);
    border-radius: 20px;
    border: 2px solid #251817;
    text-align: center;
  }

  #guessedLtrs {
    background-color: rgb(167, 167, 177);
    border-radius: 20px;
    border: 2px solid #251817;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    padding-bottom: 60px;
    margin: 5px;
    height: 75px;
  }

  #right {
    background-color: rgb(167, 167, 177);
    border-radius: 20px;
    border: 2px solid #251817;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    padding-bottom: 60px;
    margin: 5px;
    height: 75px;
  }

  #wrong {
    background-color: rgb(167, 167, 177);
    border-radius: 20px;
    border: 2px solid #251817;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 60px;
    margin: 5px;
    height: 75px;
  }

  .scoreBoard {
    width: 25%;
    background-color: rgb(167, 167, 177);
    border-radius: 20px;
    border: 2px solid #251817;
    text-align: center;
    font-size: 18px;
  }

  .score {
    margin: 5px;
    padding: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    height: 30px;
  }


  #footer {
    background-image: repeating-radial-gradient(rgb(170, 70, 70), rgb(167, 167, 102) 10%, rgb(108, 155, 108) 15%);
    color: black;
    text-align: center;
    font-size: small;
    padding: 30px;
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
 
 /* Media Query */
@media screen and (max-width: 980px) {
  .grad,
  title,
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .grad,
  title,
  .container {
    width: 50%;
  }
}

/* Static header and footer */
  .grad {
    position: static;
  }

  .footer {
    position: static;
  }