
  body {
    background-color: rgb(124, 103, 124);
  }
  
  .grad {
    background-image: repeating-radial-gradient(rgb(170, 70, 70), rgb(167, 167, 102) 10%, rgb(108, 155, 108) 15%);
    padding: 30px;
  }

  #title {
  color: chartreuse;
  text-align: center;
  padding: 50px;
  margin-right: 700px;
  margin-left: 700px;
  background-color: black;
  border-radius: 35px;
  }

  .container {
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 73, 61);
    border-radius: 25px;
    border: 2px solid #6d2823;
    padding: 20px;
    margin: 40px;
    margin-left: 300px;
    margin-right: 0;
    height: 675px;
  }

  .gameArea {
    flex:3;
    background-color: rgb(167, 167, 177);
    border-radius: 20px;
    border: 2px solid #251817;
    text-align: center;
  }

  .scoreBoard {
    flex:1;
    background-color: rgb(167, 167, 177);
    border-radius: 20px;
    border: 2px solid #251817;
    text-align: center;
  }

  #footer {
    background-image: repeating-radial-gradient(rgb(170, 70, 70), rgb(167, 167, 102) 10%, rgb(108, 155, 108) 15%);
    color: black;
    text-align: center;
    /* height: 20px; */
    font-size: small;
    padding: 30px;
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
 
 /* Media Query */
@media screen and (max-width: 980px) {
  .grad,
  title,
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grad,
  title,
  .container {
    width: 100%;
  }
}


/* Static header */
@media screen and (max-width: 640px) {
  .grad,
  title,
  .container {
    width: 100%;
  }
}

  .grad {
    position: static;
  }

  .footer {
    position: static;
  }